<div class="footer">
    @copyright: <%= new Date().getFullYear() %>
    <br>
    The Favicon was taken from <a href="https://www.flaticon.com/free-icons/book" title="book icons">Book icons created by Smashicons - Flaticon</a>
</div>